section.page
  .page__content
    .page__container
      .page__body
        .page__form
          include ../../assets/libs/Ui-Kit/cards/search-form/search-form.pug
        .page__description
          .page__empty
          p.page__description_text Лучшие номера для вашей работы, отдыха и просто вдохновения
  .page__image 
    img(src="images/landing.jpg" alt="Фоновое изображение")  
