@import "../../assets/libs/mixins";
@import "../../assets/libs/Ui-Kit/cards/search-form/search-form";
@import "../../assets/libs/Ui-Kit/cards/calendar/calendar";

.home {
  &__content {
    flex: 0 0 100%;
    display: flex;
  }
  &__container {
    display: flex;
    width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__body {
    padding: rem(68) 0px 0px 0px;
    position: relative;
  }
  &__search-form {
    position: relative;
    @include adaptiveValue("padding-left", 0, 5, 1);
  }
  &__calendar {
    //display: none;
    position: absolute;
    top: 191px;
    left: 31px;
    @include adaptiveValue("padding-left", 0, 5, 1);
  }
  &__image {
    img {
      max-width: 100%;
    }
  }
  &__description {
    display: flex;
    align-items: flex-end;
    &_text {
      line-height: 24px;
      max-width: 297px;
      text-align: right;
      padding-bottom: rem(0);
    }
  }
  &__empty {
    width: rem(905);
    @include adaptiveValue("width", 835, 0, 1);
    height: rem(363);
  }
}

@media (min-width: 767px) {
  .home {
    display: flex;
    &__image {
      position: relative;
      flex: 0 0 155%;
      padding: 0 0 58.4% 0;
      transform: translate(-100%, 0px);
      z-index: -1;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    &__body {
      width: 100%;
      padding: rem(68) 0px 0px 0px;
    }

    &__description_text {
      @include adaptiveValue("padding-bottom", 15, 0, 1);
    }
  }
}

@media (max-width: 767px) {
  .home {
    display: flex;
    &__image {
      position: relative;
      flex: 0 0 380%;
      padding: 0 0 58.4% 0;
      transform: translate(-100%, 0px);
      z-index: -1;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    &__body {
      width: 100%;
      padding: rem(68) 0px 0px 0px;
    }
    &__description_text {
      @include adaptiveValue("padding-bottom", 15, 10, 1);
    }
    &__calendar {
      top: 169px;
      left: 3px;
    }
  }
}
