footer.footer__container 
  .footer_small
    .footer__info_small
      a(href="#/mock-address/change-me").footer__logo-link
        img(src="./images/logo.svg" alt="Logo").footer__logo
    .footer__copyright_small
      p Copyright © 2018 Toxin отель. Все права защищены.
    .footer__social-icons
      ul.footer__social
        li.footer__social-item
          a.footer__social-link
            img(src="./images/twitter.svg" alt="Twitter")
        li.footer__social-item
          a.footer__social-link
            img(src="./images/facebook.svg" alt="Facebook")
        li.footer__social-item
          a.footer__social-link
            img(src="./images/instagram.svg" alt="Instagram")