.feedback-visitors 
  .likes-button
    .likes-btn
      span.material-icons-outlined.like favorite_border
      span.counter 2
  .likes-button
    .likes-btn_liked
      span.material-icons-outlined.like favorite
      span.counter 12