footer.footer
  .footer__container
    .footer__content
      .footer__info
        a(href="#/mock-address/change-me").footer__logo-link
          img(src="./images/logo.svg" alt="Logo").footer__logo
        p.footer__logo-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      nav.footer__menu
        ul.footer__nav
          li.footer__menu-item
            h3.footer__menu-item_title навигация
          li.footer__menu-item О нас
          li.footer__menu-item Новости
          li.footer__menu-item Служба поддержки
          li.footer__menu-item Услуги
        ul.footer__about
          li.footer__menu-item
            h3.footer__menu-item_title o нас
          li.footer__menu-item О сервисе
          li.footer__menu-item Наша команда
          li.footer__menu-item Вакансии
          li.footer__menu-item Инвесторы
        ul.footer__support
          li.footer__menu-item
            h3.footer__menu-item_title служба поддержки
          li.footer__menu-item Соглашения
          li.footer__menu-item Сообщества
          li.footer__menu-item Связь с нами
      .footer__subscription
        h3.footer__menu-item_subtitle подписка
        p.footer__menu-item_text Получайте специальные предложения и новости сервиса
        .footer__input-groupe
          input(type="email" placeholder="Email").footer__input.inputs-icon.inputs-icon__dropdown
          button.form__dropdown-btn
            span.material-icons-footer.material-icons arrow_forward
footer.copyright
  .footer__container
    .footer__copyright
      p Copyright © 2018 Toxin отель. Все права защищены.
      ul.footer__social
        li.footer__social-item
          a.footer__social-link
            img(src="./images/twitter.svg" alt="Twitter")
        li.footer__social-item
          a.footer__social-link
            img(src="./images/facebook.svg" alt="Facebook")
        li.footer__social-item
          a.footer__social-link
            img(src="./images/instagram.svg" alt="Instagram")
footer.footer_small
  .footer__info_small
    a(href="#/mock-address/change-me").footer__logo-link
      img(src="./images/logo.svg" alt="Logo").footer__logo
  .footer__copyright_small
    p Copyright © 2018 Toxin отель. Все права защищены.
  .footer__social-icons
    ul.footer__social
      li.footer__social-item
        a.footer__social-link
          img(src="./images/twitter.svg" alt="Twitter")
      li.footer__social-item
        a.footer__social-link
          img(src="./images/facebook.svg" alt="Facebook")
      li.footer__social-item
        a.footer__social-link
          img(src="./images/instagram.svg" alt="Instagram")