.registration-form {
  position: relative;
  left: 200px;
  top: 70px;
  color: $darc_shade_50;
  @import '../../form_elements/__border/_border';
  @import '../../form_elements/__text-field/__text-field';

  &__inputs {
    text-transform: uppercase;
  }

  @import '../../form_elements/__gender/__gender';

  &__title {
    Margin-bottom: 20px;
  }

  &__btn {
    position: relative;
    @extend %btn_size_1;
    @extend %btn_colored;
  }

  &__to-come-in {
    margin-top: 40px;
  }
}

.registration-input {
  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__email {
    margin-top: 10px;
  }

  &__special-offer {
    @import '../../form_elements/__special-offer/_special-offer';
    margin-bottom: 16px;
  }

  &__offer-text {
    display: inline;
    position: relative;
    left: 50px;
    bottom: 2px;
  }
}

.to-come-in {
  display: flex;
  justify-content: space-between;

  &__text {
    color: #000;
  }

  &__btn {
    position: relative;
    bottom: 9px;
    left: 4px;
    @extend %btn_size_2;
    @extend %btn_white;
    width: 100px;
    height: 45px;
  }
}