.fonts
  .h1 H1
    p This one is the sub-section or
      br 
      | widget title
  .h2 H2 
    p Next one is the item title inside 
      br
      | widgets
  .h3 H3 
    p This is a label or CTA text 
  p.paragraph Body 
    p.span This is the body text which is used for most
      br
      | of the design, like paragraphs, lists, etc.