&__selection {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    vertical-align: middle;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.gender-label {
            &:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid $darc_shade_25;
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                top: 8px;
                margin-right: 1px;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            +.gender-label {
                &:before {
                    background: $grad;
                    box-shadow: inset 0 0 0 3px #fff;
                }
                color: $darc_shade_75;
            }
        }
        &:focus {
            +.gender-label {
                &:before {
                    outline: none;
                    border-color: $purpl;
                }
            }
        }
        +.gender-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

.label__text {
    margin-left: 28px;
    vertical-align: middle;
    text-transform: none;
    margin-top: -11px;
    padding-right: 23px;
}