.to-come-in-form.to-come-in-form__border
	h1 Войти
	.to-come-in-form__inputs
		.to-come-in-input__email
			input.to-come-in-form__email.to-come-in-form__text-field(type="email" placeholder="Email")
		.to-come-in-input__password
			input.to-come-in-form__password.to-come-in-form__text-field(type="password" placeholder="Пароль")
	button.to-come-in-form__btn войти
		span.material-icons.material-icons-to-come-in arrow_forward
	.to-come-in-form__to-come-in
		p.to-come-in__text Нет аккаунта на Toxin?
		button.to-come-in__btn Создать