.calendar
  .calendar__wrapper
    .calendar__months
      span.material-icons-outlined.calendar__prev arrow_back
      h2.calendar__info
      span.material-icons-outlined.calendar__next arrow_forward
    .calendar__weekdays
      div Пн
      div Вт
      div Ср
      div Чт
      div Пт
      div Сб
      div Вс
    .calendar__days
      //- .prev-date 27
      //- .prev-date 28
      //- .prev-date 29
      //- .prev-date 30
      //- .prev-date 31
      //- div 1
      //- div 2
      //- div 3
      //- div 4
      //- div 5
      //- div 6
      //- .calendar__days_active 7
      //- div 8
      //- div 9
      //- div 10
      //- .calendar__days_select.calendar__days_select_first 11
      //- .calendar__days_select_range 12
      //- .calendar__days_select_range 13
      //- .calendar__days_select_range 14
      //- .calendar__days_select_range 15
      //- .calendar__days_select_range 16
      //- .calendar__days_select_range 17
      //- .calendar__days_select_range 18
      //- .calendar__days_select_range 19
      //- .calendar__days_select_range 20
      //- .calendar__days_select.calendar__days_select_last 21
      //- div 22
      //- div 23
      //- div 24
      //- div 25
      //- div 26
      //- div 27
      //- div 28
      //- div 29
      //- div 30
      //- div 31
      //- .next-date 1
      //- .next-date 2
      //- .next-date 3
      //- .next-date 4
      //- .next-date 5
      //- .next-date 6
    .calendar__buttons
      button(type="clear").calendar__btn-clear.button очистить
      button(type="submit").calendar__btn-submit.button применить
