.calendar
  .calendar__wrapper
    .calendar__months
      span.material-icons-outlined.calendar__prev arrow_back
      h2.calendar__info
      span.material-icons-outlined.calendar__next arrow_forward
    .calendar__weekdays
      div Пн
      div Вт
      div Ср
      div Чт
      div Пт
      div Сб
      div Вс
    .calendar__days
    .calendar__buttons
      button(type="clear").calendar__btn-clear.button очистить
      button(type="submit").calendar__btn-submit.button применить
