.calendar
  .calendar__wrapper
    .calendar__nav
      span.material-icons-outlined.calendar__prev arrow_back
      h2.calendar__info
      span.material-icons-outlined.calendar__next arrow_forward
    .calendar__weekdays
      div Пн
      div Вт
      div Ср
      div Чт
      div Пт
      div Сб
      div Вс
    .calendar__days
      //- div.calendar__week
      //-   div 1
      //-   div 2
      //-   div 3
      //-   div 4
      //-   div 5
      //-   .calendar__days_select.calendar__days_select_first  6
      //-   .calendar__days_select_range 7
      //- div.calendar__week
      //-   .calendar__days_select_range 8
      //-   .calendar__days_select_range 9
      //-   .calendar__days_select_range 10
      //-   .calendar__days_select.calendar__days_select_last 11
      //-   div 12
      //-   div 13
      //-   div 14
      //- div.calendar__week
      //-   div 15
      //-   div 16
      //-   div 17
      //-   div 18
      //-   div 19
      //-   div 20
      //-   div 21
      //- div.calendar__week
      //-   div 22
      //-   div 23
      //-   div 24
      //-   .calendar__days_active  25
      //-   div 26
      //-   div 27
      //-   div 28
      //- div.calendar__week
      //-   div 29
      //-   div 30
      //-   div 31
    .calendar__buttons
      button(type="clear").calendar__btn-clear.button очистить
      button(type="submit").calendar__btn-submit.button применить
