.calendar
	.calendar1
		.month
			span.material-icons-outlined.calendar-materal-icon-back.prev arrow_back
			.date
				h2 2021
			span.material-icons-outlined.calendar-materal-icon-forward.next arrow_forward
		.weekdays
			div Пн
			div Вт
			div Ср
			div Чт
			div Пт
			div Сб
			div Вс
		.days
		.calendar__buttons
			h3.clear-btn очистить
			h3.apply-btn применить

