&__border {
    width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 30px 14px 30px;
		background: #ffffff;
}