.checkbox-list-container
  .checkbox-list-container__closed
    h3 expandable checkbox list
    span.material-icons-outlined expand_more 
  .checkbox-list-container__open
    h3 expandable checkbox list
    span.material-icons-outlined expand_less
  .checkbox-list
    .checkboxes
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="1").checkbox__input
        span.checkbox__text
          span Завтрак
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="2" checked).checkbox__input
        span.checkbox__text
          span Письменный стол
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="3" checked).checkbox__input
        span.checkbox__text
          span Стул для кормления
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="4" checked).checkbox__input
        span.checkbox__text
          span Кроватка
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="5").checkbox__input
        span.checkbox__text
          span Телевизор
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="6").checkbox__input
        span.checkbox__text
          span Шампунь
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="7").checkbox__input
        span.checkbox__text
          span Телевизор
      label.checkbox-list__checkbox.checkbox
        input(type="checkbox" value="8").checkbox__input
        span.checkbox__text
          span Шампунь
