@import "../../assets/libs/Ui-Kit/form-elements/switches/checkboxes/checkboxes.scss";
@import "../../assets/libs/Ui-Kit/form-elements/room-details/rich-checkbox-buttons/rich-checkbox-buttons";
@import "../../assets/libs/Ui-Kit/cards/room-cards/room-card";

.search {
  margin-top: 29px;
  &__container {
    display: flex;
  }

  aside {
    position: relative;
    color: $base50;
  }

  .filter {
    &__side {
      flex: 0 0 265px;
      .facilities {
        .checkbox-list {
          max-width: 205px;
        }
      }
    }

    &__title {
      margin-bottom: 5px;
    }

    &__form-dates {
      position: relative;
      margin-bottom: 21px;
    }

    &__form-guests {
      position: relative;
      margin-bottom: 31px;
    }

    &__range {
      @import "../../assets/libs/Ui-Kit/form-elements/buttons-section/range-slider/range-slider";
      h3 {
        margin-right: 40px;
      }
      .filter-price-range {
        margin-bottom: 8px;
      }
    }

    &__content-header {
      margin: 0px 0px 22px 0px;
    }

    &__rooms {
      display: flex;
      padding-left: 1px;
      width: 847px;
    }

    &__text-field {
      width: 266px;
      margin-bottom: 20px;
    }

    &__content {
      flex: 1 1 auto;
      padding: 0px 0px 0px 59px;
    }
  }

  .filter-price {
    padding-right: 4px;

    & .thousand {
      padding-right: 4px;
    }

    & .hyphen {
      padding-right: 3px;
      padding-left: 2px;
    }
  }

  .filter-price-day {
    font-size: 12px;
    line-height: 14px;
    padding-top: 24px;
  }

  .filter-house-rules {
    width: 225px;
    .filter__title {
      margin-bottom: 17px;
    }
    margin-top: 30px;
  }

  b {
    color: $base75;
  }

  .additional {
    margin-top: 32px;
    width: 260px;
    .filter__title {
      margin-bottom: 16px;
    }
    margin-bottom: 25px;
  }

  .additional-room {
    position: relative;
    margin-bottom: 30px;
  }

  .facilities {
    position: relative;
    .dropdown-btn {
      position: absolute;
      top: -5px;
      left: 226px;
      background: transparent;
      cursor: pointer;
    }
  }

  .rooms-slider {
    flex: 1 1 auto;
  }

  .items-rooms {
    display: flex;
    color: $base50;
    // .items-rooms__column
    &__column {
      flex-wrap: wrap;
      display: flex;
    }
    .room-card {
      margin: 0px 12px 19px 0px;
    }
  }

  .footer-item__number {
    padding-left: 17px;
  }
}

// TODO поправить отображение списка в дополнительных удобствах и разобраться почему перезагружается страница при попытке вызвать выпадающее меню удобств номера
