section.search.search__container
  aside.filter__side
    h3.filter__title даты пребывания в отеле
    .filter__form-dates
      input(type="text").inputs-icon.inputs-icon__dropdown
      button.form__dropdown-btn
        span.material-icons-outlined.filter__dates expand_more
    h3.filter__title гости
    .filter__form-guests
      input(type="text").inputs-icon.inputs-icon__dropdown
      button.form__dropdown-btn
        span.material-icons-outlined expand_more
    .filter__range
      .filter-price-range
        h3.filter__title диапазон цены
        span.value-price-min.rub 5 000
        | -
        span.value-price-max.rub 10 000
      .price-filter
    p.filter-price-day Стоимость за сутки пребывания в номере
    .filter-house-rules
      h3.filter__title правила дома
      .filter__checkbox
        include ../../assets/libs/Ui-Kit/form-elements/switches/checkboxes/checkboxes.pug
    .additional
      h3.filter__title доступность
      include ../../assets/libs/Ui-Kit/form-elements/room-details/rich-checkbox-buttons/rich-checkbox-buttons.pug
    h3.filter__title удобства номера
    .additional-room      
      input(type="text").inputs-icon.inputs-icon__dropdown
      button.form__dropdown-btn

        span.material-icons-outlined expand_more
    .facilities
      h3.filter__title дополнительные удобства
      button.dropdown-btn
        span.material-icons-outlined expand_more
      include ../../assets/libs/Ui-Kit/form-elements/room-details/checkbox-list/checkbox-list.pug
  .filter__content
    .filter__content-header
      h1 Номера, которые мы для вас подобрали
    .filter__rooms.rooms-slider
      .rooms-slider__item._swiper 
        .products-slider__slide
          .rooms-slider__items.items-rooms
            .items-rooms__column
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card_lux/room-card_lux.pug
              include ../../assets/libs/Ui-Kit/cards/room-cards/room-card/room-card.pug
          .products-slider__item._swiper
