&__date-dropdown {
  width: 150px;
  height: 44px;
  margin-top: 5.44px;
  border: 1px solid $darc_shade_25;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $darc_shade_50;
  }
}

::-webkit-input-placeholder {
  padding-left: 10px;
}

::-moz-placeholder {
  padding-left: 10px;
}

/* Firefox 19+ */
:-moz-placeholder {
  padding-left: 10px;
}

/* Firefox 18- */
:-ms-input-placeholder {
  padding-left: 10px;
}

// стили для placeholder при фокусе в разных браузерах
:focus::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

:focus:-moz-placeholder {
  color: transparent
}

:focus:-ms-input-placeholder {
  color: transparent
}