.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    text-transform: none;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: (1px solid $darc_shade_25);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background: $darc_shade_25;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: transparent;
    border: 1px solid $purpl;
}

input:checked+.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: -4px;
    bottom: 3px;
    background: $grad;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 10px;
}

.registration-input__offer-text {
    position: relative;
    color: $darc_shade_75;
}