header.header
	.container
		.header__inner
			a.logo(href="#")
				img(src='./images/logo.svg' alt="Logo")
			nav.menu
				ul.menu__list
					li.menu__list-item
						a.menu__list-link.active(href="#") О нас
					li.menu__list-item
						a.menu__list-link.menu__list-link_drop-down(href="#") Услуги
							span.header__drop-down.header__drop-down-servises.material-icons-outlined expand_more
					li.menu__list-item
						a.menu__list-link(href="#") Вакансии
					li.menu__list-item
						a.menu__list-link(href="#") Новости
					li.menu__list-item
						a.menu__list-link.menu__list-link_drop-down(href="#") Соглашения
							span.header__drop-down.header__drop-down-agreements.material-icons-outlined expand_more
			.header__btn
				button.header__btn.header__btn-login Войти
				button.header__btn.header__btn-registration Зарегистрироваться
