.switch-box 
  .checkbox-buttons
    h3 checkbox buttons
    include checkboxes/checkboxes.pug
  .radio-buttons
    .radio-buttons__title 
      h3 radio buttons
    include radio-buttons/radio-buttons.pug
  .toggle-buttons 
    .toggle-buttons__title
      h3 toggle 
    include toggle-buttons/toggle-buttons.pug
  .like-buttons 
    .like-buttons__title
      h3 like button
    include like-buttons/like-buttons.pug
  .rate-buttons 
    .rate-buttons__title
      h3 rate button
    include rate-buttons/rate-buttons.pug