.header-with-buttons-box
  include header-with-buttons/header.pug
.account-header-box
  include account-header/account-header.pug
.footer-box
  include footer/footer.pug
.footer-small-box 
  include footer-small/footer-small.pug