.wrapper
	.cards
		include ./search-form/search-form
		include ./registration-form/registration-form
		include ./reservation-form/reservation-form
		include ./to-come-in/to-come-in
		include ./calendar/calendar