.cards {
  position: relative;
  float: none;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@import './search-form/search-form';

@import './registration-form/registration-form';

@import './reservation-form/reservation-form';

  ::-webkit-input-placeholder {
    color: $darc_shade_75;
  }

  ::-moz-placeholder {
    color: $darc_shade_75;
  }

  /* Firefox 19+ */
  :-moz-placeholder {
    color: $darc_shade_75;
  }

  /* Firefox 18- */
  :-ms-input-placeholder {
    color: $darc_shade_75;
  }