.main__registration {
	display: none;
  background-image: $backReg;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.registration-form-container {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-right: 4px;
  margin-bottom: 3px;
}

.header-btn__login {
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  -webkit-appearance: button;
  appearance: button;
}