@import '../../blocks/headers&footers/header/header';
@import '../../blocks/headers&footers/footer/footer';

.main {
  background-image: $backReg;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.registration-form-container {
  display: flex;
  justify-content: center;
	padding-top: 4px;
	padding-right: 4px;
	margin-bottom: 3px;
}