include ../../blocks/headers&footers/header/header.pug
.main
	.container
		.registration-form-container
			include ../../blocks/cards/registration-form/registration-form.pug
include ../../blocks/headers&footers/footer/footer.pug