include ../../blocks/headers&footers/header/header.pug
.main
	.container
		include ../../blocks/cards/search-form/search-form.pug
		include ../../blocks/cards/registration-form/registration-form.pug
		div.description
			p
				|Лучшие номера для вашей работы,
				br
				|отдыха и просто вдохновения
include ../../blocks/headers&footers/footer/footer.pug