.room-details 
  include checkbox-list/checkbox-list.pug
  .rich-checkbox-buttons
    .rich-checkbox-buttons__title
      h3 rich checkbox buttons
        include rich-checkbox-buttons/rich-checkbox-buttons.pug
  include bullet-list/bullet-list.pug
