.form-toggle__input 
  .toggle Получать спецпредложения
    input(type="checkbox" name="toggle" checked)
.form-toggle__input 
  .toggle Получать спецпредложения
    input(type="checkbox" name="toggle")