form.login-form
	.login-form__border
		h1 Войти
		.login-form__inputs
			.login-input__email
				input.login-form__email.login-form__text-field(type="email" placeholder="Email")
			.login-input__password
				input.login-form__password.login-form__text-field(type="password" placeholder="Пароль")
		button.login-btn войти
			span.material-icons.material-icons-login arrow_forward
		.login-form__login
			p.login__text Нет аккаунта на Toxin?
			button.registration-btn Создать