.login-form {
  margin-top: 153px;
  margin-bottom: 147px;
  @import '../../form_elements/__border/_border';
  @import '../../form_elements/__text-field/_text-field';

  & h1 {
    margin-bottom: 20px;
  }

  &__inputs {
    margin-bottom: 10px;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 7px;
  }
}

.login-btn {
  @extend %btn_size_1;
  @extend %btn_colored;
}

.registration-btn {
  margin-right: 4px;
  @extend %btn_size_2;
  @extend %btn_white;
}

.material-icons-login {
  position: absolute;
  left: 83%;
  top: 60%;
}