.rating-buttons
  .rating.rating_set
    .rating__body
      .rating__active
      .rating__items 
        input(type="radio" value="1" name="rating").rating__item
        input(type="radio" value="2" name="rating").rating__item
        input(type="radio" value="3" name="rating").rating__item
        input(type="radio" value="4" name="rating").rating__item
        input(type="radio" value="5" name="rating").rating__item
      .rating__value 4
  .rating.rating_set
    .rating__body
      .rating__active
      .rating__items 
        input(type="radio" value="1" name="rating").rating__item
        input(type="radio" value="2" name="rating").rating__item
        input(type="radio" value="3" name="rating").rating__item
        input(type="radio" value="4" name="rating").rating__item
        input(type="radio" value="5" name="rating").rating__item
    .rating__value 5