form(action="#change" name="search-form").search-form.form_border
  .search-form__title
    h1 Найдём номера под ваши пожелания
  .search-form__dates
    .search-form__item
      .search-form__label
        h3.search-form__item-title прибытие      
        input(type="date" min="2019-01-01" max="2100-01-01").inputs-icon.inputs-icon__date-dropdown.start-date
    .search-form__item
      .search-form__label
        h3.search-form__item-title выезд
        input(type="date" min="2019-01-01" max="2100-01-01").inputs-icon.inputs-icon__date-dropdown.end-date
  .search-form__guests
    h3.search-form__guests-title гости
    input(type="text" placeholder="Сколько гостей").inputs-icon.inputs-icon__dropdown
    button.form__dropdown-btn
      span.material-icons-outlined expand_more
  button.search-form__btn.button_painted 
    span подобрать номер
    span.material-icons arrow_forward