&__dropdown{
		background: transparent;
    border: none;
		width: 320px;
    height: 44px;
    border: 1px solid $darc_shade_25;
    border-radius: 4px;
		margin-top: 8px;
		&:hover, &:focus {
			border: 1px solid $darc_shade_50;
		}

}

// стили для placeholder в разных браузерах
::-webkit-input-placeholder {color:$darc_shade_75}
::-moz-placeholder {color:$darc_shade_75}/* Firefox 19+ */
:-moz-placeholder {color:$darc_shade_75}/* Firefox 18- */
:-ms-input-placeholder {color:$darc_shade_75}

// стили для placeholder при фокусе в разных браузерах
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder {color: transparent}
:focus:-moz-placeholder {color: transparent}
:focus:-ms-input-placeholder {color: transparent}

