aside.filter__side
  h3 даты пребывания в отеле
  form.filter__form-dates
    input.filter__text-field(type="text")
    span.material-icons-outlined.filter__dates expand_more
  h3 гости
  form.filter__form-guests
    input.filter__text-field(type="text")
    span.material-icons-outlined.filter__guests expand_more
  .filter-price-range
    h3 диапазон цены
    p.filter-price.rub 
      span.value-price-min 5 000
      | - 
      span.value-price-max 10 000
  .price-filter
  p.filter-price-day Стоимость за сутки пребывания в номере
  form.filter-house-rules
    h3 правила дома
    //- здесь были чекбоксы
  form.additional
    h3 доступность
    label.label.option
      input(type="checkbox")
      span
        p.text.title
          b Широкий коридор
      br
      p.text.description
        | Ширина коридоров в номере
        br
        | не менее 91 см.
      br
    label.label
      input(type="checkbox")
      span
      p.text.title
        b Помощник для инвалидов
      br
      p.text.description
        | На 1 этаже вас встретит специалист
        br
        | и проводит до номера.
  form.additional-room
    h3 удобства номера
    input.filter__text-field(type="dropdown")
    span.material-icons-outlined.filter-additional expand_more
  .facilities
    h3 дополнительные удобства
    span.material-icons-outlined.filter-facilities expand_more
.filter__content
  .filter__content-header
    h1 Номера, которые мы для вас подобрали
  .filter__rooms.rooms-slider
    .rooms-slider__item._swiper 
      .products-slider__slide
        .rooms-slider__items.items-rooms
          .items-rooms__column
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
            include ../../../blocks/cards/rooms/rooms
        .products-slider__item._swiper