.dropdown-guests__body
  ul.dropdown__menu 
    li взрослые
      .counter
        button(data-direction="minus").counter__btn.minus -
        input(type="text" value="2").counter__value
        button(data-direction="plus").counter__btn +
    li дети
      .counter
        button(data-direction="minus").counter__btn.minus -
        input(type="text" value="1").counter__value
        button(data-direction="plus").counter__btn +
    li младенцы
      .counter
        button(data-direction="minus").counter__btn.minus -
        input(type="text" value="0").counter__value
        button(data-direction="plus").counter__btn +
    .submit-button
      button(type="clear").submit очистить
      button(type="submit").submit применить
