.dropdown-guests__body
  ul.dropdown__menu 
    li взрослые
      .input-values
        button(type="button").minus -
        span 2
        button(type="button").plus +
    li дети
      .input-values
        button(type="button").minus -
        span 1
        button(type="button").plus +
    li младенцы
      .input-values
        button(type="button" disabled).minus -
        span 0
        button(type="button").plus +
    .submit-button
      button(type="clear").submit очистить
      button(type="submit").submit применить
