form.search-form.search-form__border
      .search-form__title
        h1 Найдём номера под ваши пожелания
      .search-inputs
        .search-inputs__coming
          h3 прибытие
          input.search-form__date-dropdown(type="date" placeholder="дд.мм.гг")
          span.material-icons-outlined.search__coming expand_more
        .search-inputs__departure
          h3 выезд
          input.search-form__date-dropdown(type="date" placeholder="дд.мм.гг")
          span.material-icons-outlined.search__departure expand_more
        .search-inputs__dropdown
          h3 гости
          input.search-form__dropdown(type="text" placeholder="Сколько гостей")
          span.material-icons-outlined.search-materal-icon expand_more
      button.search-form__btn подобрать номер
        span.material-icons.material-icons-search-form arrow_forward