//- Буду делать комментарий к каждому миксину

include colors_types/colors/colors.pug
include colors_types/types/types.pug

//- страничка с элементами форм
.formElements
  include form-elements/text-fields/text-fields.pug
  include form-elements/switches/switches.pug
  include form-elements/buttons-section/buttons-section.pug
