header.header
  .header__container  
    .header__main
      a(href="#/mock-address/change-me").header__logo
        img(src='./images/logo.svg' alt="Logo")      
      .header__inner
        nav.header__menu.menu
          ul.menu__list
            li.menu__list-item
              a(href="#/mock-address/change-me").menu__list-link О нас
            li.menu__list-item._after
              a(href="#/mock-address/change-me").menu__list-link Услуги
            li.menu__list-item
              a(href="#/mock-address/change-me").menu__list-link Вакансии
            li.menu__list-item
              a(href="#/mock-address/change-me").menu__list-link Новости
            li.menu__list-item._after
              a(href="#/mock-address/change-me").menu__list-link Соглашения
        .header__btn
          button.button_unpainted.header__btn-login Войти
          button.button_painted.header__btn-registration Зарегистрироваться