.ui-pagination
  .ui-pagination__title 
    h3 pagination 
  .ui-pagination__numbers 
    .numbers.first
      span 1
    .numbers
      span 2
    .numbers
      span 3
    .numbers
      span ...
    .numbers
      span 15
    .numbers
      span.material-icons-outlined.last arrow_forvard 
  .ui-pagination__description 
    p 1 – 12 из 100+ вариантов аренды