.ui-pagination
  .ui-pagination__title 
    h3 pagination 
  ul.ui-pagination__numbers 
    li.active 1
    li 2
    li 3
    li ...
    li 15
    li
      span.material-icons-outlined.arrow arrow_forward 
  .ui-pagination__description 
    p 1 – 12 из 100+ вариантов аренды