.login-form.form_border
  .login-form__title
    h1 Войти
  .login-form__email
    input.inputs(type="email" placeholder="Email")
  .login-form__password
    input.inputs(type="password" placeholder="Пароль")
  button.login-form__btn.button_painted войти
    span.material-icons.material-icons-login arrow_forward
  .login-form__regispration
    p.login-form__regispration-text Нет аккаунта на Toxin?
    form(action="./registration.html")
      button.login-form__regispration-btn.button_unpainted Создать
