label.checkbox-rich__checkbox.checkbox
  input(type="checkbox" value="1").checkbox__input
  span.checkbox__text.checkbox__text_rich
    span.subtitle Широкий коридор
      p.paragpaph.par Ширина коридоров в номере не менее 91 см.
label.checkbox-rich__checkbox.checkbox
  input(type="checkbox" value="2").checkbox__input
  span.checkbox__text.checkbox__text_rich
    span.subtitle Помощник для инвалидов
      p.paragpaph На 1 этаже вас встретит специалист и проводит до номера.
