.rich-checkbox-buttons
  .rich-checkbox-buttons__title
    h3 rich checkbox buttons
  .checkbox-rich
    .checkboxes
      label.checkbox-rich__checkbox.checkbox
        input(type="checkbox" value="1").checkbox__input
        span.checkbox__text
          span.subtitle Широкий коридор
            p.paragpaph Ширина коридоров в номере не менее 91 см.
      label.checkbox-rich__checkbox.checkbox
        input(type="checkbox" value="2").checkbox__input
        span.checkbox__text
          span.subtitle Помощник для инвалидов
            p.paragpaph На 1 этаже вас встретит специалист  и проводит до номера.