.reservation-form.reservation-form__border
	.reservation-form__title
			h3 №
			h1 888
			h3 люкс
			h3 9990p
			p в сутки
	.reservation-inputs
		.reservation-inputs__coming
			h3 прибытие
			input.reservation-form__date-dropdown(type="date" placeholder="дд.мм.гг")
			span.material-icons-outlined.reservation__coming expand_more
		.reservation-inputs__departure
			h3 выезд
			input.search-form__date-dropdown(type="date" placeholder="дд.мм.гг")
			span.material-icons-outlined.reservation__departure expand_more
		.reservation-inputs__dropdown
			h3 гости
			input.reservation-form__dropdown(type="text" placeholder="Сколько гостей")
			span.material-icons-outlined.reservation-materal-icon expand_more
	button.reservation-form__btn забронировать
		span.material-icons.material-icon-reservation arrow_forward