doctype html
html(lang="en")
  head
    link(rel="shortcut icon" href="./favicon.ico")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title TOXIN
  body(class=pageClass)
    include bemto/bemto
    .wrapper
      include ./assets/libs/Ui-kit/headers_footers/header-with-buttons/header
      include ./pages/landing-page/landing-page
      include ./assets/libs/Ui-kit/headers_footers/footer/footer
    //- include ./assets/libs/Ui-Kit/mainUi.pug
