doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TOXIN
  body
    include ./blocks/headers&footers/header/header.pug
    include ./blocks/cards/cards.pug
    include ./blocks/headers&footers/footer/footer.pug
