.form-chackboxes
  .checkboxes
    label.checkbox-buttons__checkbox.checkbox
      input(type="checkbox" value="1").checkbox__input
      span.checkbox__text
        span Можно курить
    label.checkbox-buttons__checkbox.checkbox
      input(type="checkbox" value="2" checked).checkbox__input
      span.checkbox__text
        span Можно с питомцами
    label.checkbox-buttons__checkbox.checkbox
      input(type="checkbox" value="3" checked).checkbox__input
      span.checkbox__text
        span Можно пригласить гостей (до 10 человек)