.regular-button_painted 
  button.btn 
    span click me
.regular-button_painted-hover 
  button.btn 
    span click me
.regular-button_unpainted 
  button.btn 
    span click me
.regular-button_unpainted-hover 
  button.btn 
    span click me