.buttons-section
  .range-slider 
    include range-slider/range-slider.pug
  .buttons
    .buttons__title
      h3 buttons
    include buttons/buttons.pug
  .pagination
    include pagination/pagination.pug