.buttons-section
  .range-slider
    .filter-price-range
      h3 rande slider
      p.filter-price
        span.value-price-min.rub 5 000
        | -
        span.value-price-max.rub 10 000
    .price-filter
  .buttons
    .buttons__title
      h3 buttons
    include buttons/buttons.pug
  .pagination
    include pagination/pagination.pug
