.form-gender__input
  .gender__radiobuttons 
    .radiobuttons__item Мужчина
      input(type="radio" value="male" name="gender" checked)
    .radiobuttons__item Женщина
      input(type="radio" value="female" name="gender")