.users-feedback
  .users-feedback__user.user
    .user__avatar 
      img(src="./images/avatar/ava1.jpg" alt="Фото").round
    .user__information
      .user__name 
        span Мурад Сарафанов
      .user__feedback-date
        span 5 дней назад
  .users-feedback__feedback.feedback
    .feedback__like 
      .likes-btn_liked
        span.material-icons-outlined.like favorite
        span.counter 12
    .feedback__text
      p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
